* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: rgb(107, 64, 64);
  text-align: center;
}

button {
    background-color: red;
}

.project {
  background-color: rgb(31, 29, 28);
  width: 60%;
  height: fit-content;
  margin: 2rem auto;
  padding: 10px;
}

.part1 {
  background-color: rgb(72, 59, 59);
  display: flex;
  justify-content: space-between;
  height: fit-content;
  margin: 1 rem 0;
  padding: 10px;
}

.part1 input {
    height: 30px;
    max-width: 90%;
}

.part1 button {
    background-color: rgb(168, 132, 66);
    border: none;
    height: 30px;
    align-items: flex-end;
    padding-left: 10px;
    padding-right: 10px;
}

.user {
    background-color: #777;
    margin: 1 rem auto;
    display: flex;
    align-items: center;
    height: fit-content;
    min-height: 70px;
    gap: 12rem;
    text-align: initial;
}

.details {
    display: flex;
    gap: 15rem;
}

@media only screen and (max-width: 425px){
  .project {
    width: auto;
  }
  .user {
    display: block;
    gap: 2rem;
    max-width: 100%;
  }
}